.heart {
    font-size: 1.5rem;

    &:hover {
        cursor: pointer;
    }
}

.heart-wrapper {
    display: flex;
    flex-flow: row nowrap;

    input {
        visibility: hidden;
        margin-left: -100%;
    }

    input, label {
        box-sizing: border-box; 
        width: 100%; 
        flex: none;
    }

    .heart--empty {
        transition: all 400ms ease-in-out;

        &:hover {
            background: $color-button-gradient;
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .heart--filled {
        display: none;
        background: $color-button-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    input[type="checkbox"]:checked + label > .heart--empty {
            display:none;
    }

    input[type="checkbox"]:checked + label > .heart--filled {
            display:block;
    }
    
}